{erl_opts, [
    {parse_transform, lager_transform},
    {lager_truncation_size, 65536},

    debug_info,

    bin_opt_info,

    warn_bif_clash,
    warn_export_all,
    warn_obsolete_guard,

    warn_unused_import,

    warn_unused_record,
    warn_untyped_record,

    warn_shadow_vars,
    warn_unused_vars,
    warn_export_vars,
    warn_exported_vars,

    warn_unused_function,
    warn_deprecated_function,

    strict_validation,
    warn_missing_spec
]}.

{deps, [
    {lager,     "3.2.1"},
    {cowboy,    "1.0.4"},

    {jsx,       "2.8.0"},

    {sync, ".*",
        {git, "git://github.com/rustyio/sync", {branch, master}}}
]}.

{relx, [
    {release, {insomnia, "0.1.0"},
         [insomnia,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, false},

        {include_src, false},
        {include_erts, true},

        {extended_start_script, true}
]}.

{profiles, [
    {test, [
        {deps, [meck]}
    ]}
]}.

{cover_enabled, true}.

{eunit_opts, [verbose, {report, {eunit_progress, [colored, profile]}}]}.
{eunit_compile_opts, [export_all]}.

{ct_opts, []}.
{ct_compile_opts, [{i, "./include/"}]}.

